<div class="mat-app-background basic-container">
    <button mat-button [matMenuTriggerFor]="aboveMenu">Above</button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="belowMenu">Below</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item>Item 3</button>
        <button mat-menu-item>Item 4</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="beforeMenu">Before</button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item>Item 5</button>
        <button mat-menu-item>Item 6</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="afterMenu">After</button>
    <mat-menu #afterMenu="matMenu" xPosition="after">
        <button mat-menu-item>Item 7</button>
        <button mat-menu-item>Item 8</button>
    </mat-menu>
</div>