<div class="mat-app-background basic-container">
    <button mat-button [matMenuTriggerFor]="recipeMenu"> Recipe </button>
    <mat-menu #recipeMenu="matMenu" yPosition="above">
        <button mat-menu-item routerLink="recipe-list"> Recipe List </button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="shoppingMenu"> Shopping </button>
    <mat-menu #shoppingMenu="matMenu" yPosition="below">
        <button mat-menu-item routerLink="shopping-list"> Shopping List </button>
    </mat-menu>
</div>