<!-- <div> -->
<mat-card class="example-card">
    <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title> {{recipe.name}} </mat-card-title>
        <mat-card-subtitle> {{recipe.description}} </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="recipe.imagePath" [alt]="recipe.name" style="max-height: 400px; max-width: 400px;">
    <mat-card-content>
        <p *ngFor="let ingredient of recipe.ingredients">
            {{ingredient.name}} - {{ingredient.amount}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <!-- <button mat-button>LIKE</button>
        <button mat-button>SHARE</button> -->

        <button mat-button [matMenuTriggerFor]="manageRecipeMenu"> Manage Recipe </button>
        <button mat-icon-button [matMenuTriggerFor]="manageRecipeMenu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #manageRecipeMenu="matMenu">
            <button mat-menu-item (click)="onAddToShoppingList(recipe.ingredients)">
                <mat-icon>add_shopping_cart</mat-icon>
                <span> To Shopping List </span>
            </button>
            <button mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span> Edit Recipe </span>
            </button>
            <button mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span> Delete Recipe </span>
            </button>
        </mat-menu>
    </mat-card-actions>
</mat-card>
<!-- </div> -->